:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #6c757d;
    --red-color: #ff4a52;
    --green-color: rgb(30, 198, 182);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.grid {
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}